[submodule "menghitung-jarak-terdekat-menggunakan-turf.js"]
	path = menghitung-jarak-terdekat-menggunakan-turf.js
	url = https://github.com/roy-bukapeta/menghitung-jarak-terdekat-menggunakan-turf.js.git
